.reviews {
	color: $color-primary-base;
	padding-top: 100px;
	@include flexbox(column, flex-start, center);
	font-size: $font-m;
	margin-bottom: 50px;

	&__container {
		margin-bottom: 30px;
	}

	&__item {
		padding-right: 40px;
		position: relative;

		&:before {
			content: '\201E';
			position: absolute;
			font-size: $font-max;
			color: $color-secondary-light;
			top: -32%;
			left: -5px;
			line-height: 1;
			z-index: -2;
		}
	}

	&__text {
		font-style: italic;
	}

	&__author {
		margin-top: 30px;
		font-weight: 700;
		line-height: 1;
	}

	&__duration {
		font-weight: 400;
		font-size: $font-xs;
	}
}

@media screen and (max-width: 992px) {
	.reviews {
		&__item {
			margin-bottom: 40px;
			padding-right: 0;

			&:before {
				bottom: 86%;
    			top: unset;
			}
		}
	}
}