$color-primary-darker: #000000;
$color-primary-dark: #111111;
$color-primary-base: #4a4a4a;
$color-primary-light: #9b9c9c;

$color-secondary-dark: #dcdcdc;
$color-secondary-base: #f7f7f7;
$color-secondary-light: #efefef;
$color-secondary-lighter:#ffffff;

$color-accent-dark: #a20f2b;
$color-accent-base: #5aa7f8;
$color-accent-light: #fe551e;

$font-xxs: 9px;
$font-xs: 12px; 
$font-s: 14px; 
$font-m: 16px; 
$font-l: 17px; 
$font-xl: 20px;
$font-xxl: 26px; 
$font-xxxl: 30px;
$font-max: 100px;